<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="row">
            <div class="col-xs-12">
                <h1>Name Goes Here</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="assets\images\barzeer.jpg" alt="" class="img-responsive">
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" type="button" style="margin-right: 5px;">Edit</button>
            <button class="btn btn-danger" type="button">Delete</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <p><strong>Email:</strong> </p>
            <p><strong>Phone:</strong> </p>
        </div>
    </div>
</div>